<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Študentski dating app</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        $(document).ready(function() {
            $(".tabs").tabs();
        });
    </script>
    <style>
        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .center-align-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .center-align-button .btn {
            margin: 0 1.5cm;
        }

        .error-message {
            color: #e91e63; /* Materialize pink color */
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <span class="brand-logo center">Avtorizacija</span>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form id="activation-form" action="{{url('admin_auth_post')}}" method="post">
                <div class="row">
                    % if napaka:
                                <div class="error-message">
                                    {{napaka}}
                                </div>
                    % end
                    <div class="input-field col s12">
                        <input id="aktivacija" type="text" name="aktivacija" class="validate">
                        <label for="aktivacija">Aktivacijska koda</label>
                    </div>
                </div>
                <div class="row center-align-button">
                    <a href="{{url('izbira_role')}}" class="btn waves-effect waves-light"><i class="material-icons left">arrow_back</i>Nazaj</a>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Nadaljuj
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- ta del je obvezen za inicializacijo -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var options = {}; // Add any options here
            var instances = M.FormSelect.init(elems, options);
        });
    </script>
</body>

</html>
