<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Študentski dating app</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        $(document).ready(function() {
            $(".tabs").tabs();
        });
    </script>
    <style>
        div.ex1 {
            width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#" class="brand-logo"><i class="medium material-icons">person</i></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="large material-icons">logout</i></a></li>
            </ul>
        </div>
    </nav>

    <section class="section ">
        {{!base}}
    </section>
</body>

</html>