<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodajanje Vprašanj in Možnih Odgovorov</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            padding: 20px;
        }
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Dodajanje Vprašanj</h1>
        <form action="/dodaj_vprasanje" method="post">
            <div class="input-field">
                <input type="text" name="vprasanje" id="vprasanje" required>
                <label for="vprasanje">Novo vprašanje</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Dodaj vprašanje
                <i class="material-icons right">send</i>
            </button>
        </form>
        
        <h1>Dodajanje Možnih Odgovorov</h1>
        <form action="/dodaj_mozni_odgovor" method="post">
            <div class="input-field col s12">
                <select name="vprasanje_id" id="vprasanje_id">
                    <option value="" disabled selected>Izberi vprašanje</option>
                    % for vprasanje in vprasanja:
                    <option value="{{ vprasanje.id }}">{{ vprasanje.vprasanje }}</option>
                    % end
                </select>
                <label for="vprasanje_id">Vprašanje</label>
            </div>
            <div class="input-field">
                <input type="text" name="mozni_odgovor" id="mozni_odgovor" required>
                <label for="mozni_odgovor">Nov možni odgovor</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Dodaj možni odgovor
                <i class="material-icons right">send</i>
            </button>
        </form>

        <h1>Obstoječa Vprašanja in Možni Odgovori</h1>
        % for vprasanje in vprasanja_mozni_odgovori:
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ vprasanje.vprasanje }}</span>
                <ul>
                    % for odgovor in vprasanje.mozni_odgovori:
                    <li>{{ odgovor.mozni_odgovor }}</li>
                    % end
                </ul>
            </div>
        </div>
        % end
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
</body>
</html>
